<!DOCTYPE HTML>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
		<title>StudyHub Portal</title>
		
		<meta name="viewport" content="initial-scale=1, maximum-scale=2" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_card.css') }}">

		</head>
	

	<body>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- <div role="alert" style="color: red;">
                    <img src="{{qr_loc}}">
                </div> -->
            {% endfor %}
        {% endif %}
    {% endwith %}
		<div style="height: 80px;"></div>

			<div style=" padding: 50px; padding-top: 20px; padding-bottom: 0;text-align: center;">
			
                <h3> Welcome to your StudyHub portal account!</h3>


                <ul class="card-wrapper">
                <li class="card">
                    <div role="alert" style="color: red;">
                        <img src="{{qr_loc}}">
                    </div>
                   
                    <img src='' alt="pic1" >
                    <h3><a href=""> Hello {{full_name}} </a></h3>
                    <p> Your card expires on: 01/01/1970 Lorem ipsum sit dolor amit </p>
                    <p> Username: {{data.username}} </p>
                    <p> Email: {{data.email}} </p>

                    <div>
                        <a href="change_password"> Change Password </a>
                        <!-- <a href="register" >Create an account</a> -->
                    </div>
                </li>

				</div>
			</span>
			</div>
	</body>


</html>
		<!-- WHY WERE THERE TWO OF THESE -->

