<!DOCTYPE HTML>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
		<title>StudyHub Portal</title>
		
		<meta name="viewport" content="initial-scale=1, maximum-scale=2" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_card.css') }}">
		
		</head>
	

	<body>

		<div style="height: 80px;"></div>

			<div style=" padding: 50px; padding-top: 20px; padding-bottom: 0;text-align: center;">
			
                <h3> Welcome USERNAME!</h3>
                
                
                <ul class="card-wrapper">
                <li class="card">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div role="alert" style="color: red;">
                                    <img src="{{message}}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <img src='' alt="pic1" >
                    <h3><a href=""> Hello mr name lastname </a></h3>
                    <p> Your card expires on: 01/01/1970 Lorem ipsum sit dolor amit </p>
                </li>
            </div>
                
        </div>

        <p> TODO: Button area  </p>
        <!-- TODO: This should  -->
        <form method="GET" class="register-form" id="change-pass-form" action="change_pass">
            <div class="form-group form-button">
                <input type="submit" class="form-submit" value="Change password "/>
            </div>
        </form>
        <form method="GET" class="register-form" id="login-form" action="update_sub">
        <div class="form-group form-button">
            <input type="submit"  class="form-submit" value="Update Subscription"/>
        </div>
        </form>
    </body>

</html>