<html>
<head> </head>
<style type="text/css">body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}h1,h2,h3{line-height:1.2}</style>
    <body> 
        
<h2>StudyHub Portal wiki</h2>

<p>Through this web portal you can create and manage a subscription for StudyHub, <em>without needing to visit the receiption desk</em>.</p>

<h2>Why</h2>

<p>The current way studyhub works has some drawbacks for both our cusotmers and ourselves - There is a receiptionist only 10 - 18 Mon-Fri.</p>

<p>For you this means coming to the reception desk during work hours, which may be not only inconvenient, downright hard to schedule. Also, increledibly ironic
given our whole thing is "24/7" library.</p>

<p>For us, it means everyone taking a day of remote office work and working from the library. Which itself has caused us scheduling issues, also it's annoying -
we have meetings, we talk loud, we are busy sometimes and can't respond to your inquires right away.</p>

<p>This system aims to solve all this. You can now register, pay for your access subscription entirely online and visit the library with <em>just your phone</em>.</p>
<!-- 
<h2>Note for customers who already have a subscription</h2>

<p>We are currently working on a way to generate accounts for you and sync your current access subscription with this new digital one. It will take time.
A lot of cards have been issued the last two years.</p>

<p>Currently, the process will be manual - either follow these insructions, or come to teh reception desk during work hours. 
If you currently have a card and would like to use this digital service, please send your full name and phone number to support@studyhub.bg with the subject line: "digital-account-request". We will send you back and email with login instructions, a temporary password to login (Please change it at your first login). Your account will have the same access as your issued phyiscal card.</p>

<p>Please note, that extending your account subscription through this protal <strong>will not</strong> extend the subscription of your card automatically. We are also working on that, but due to technical concerns, it will take some time. If you wish to use both your physical card and the digital service, come to the reception desk and talk
to the human there. </p>

<h2>How to use:</h2>

<p>You will notice new scanners installed around both doors at the premises. They will scan your unique QR code and open the door for you.</p>

<h2>Roadmap</h2>

<h2>Feature requests</h2> -->

<h2> Testing of first version </h2>

<p> For customers of studyhub who already have a card, you can create a regitration and visit the reception to get it activated. This being a first version, it might be a little buggy. </p>
<p> The payment page is locked and it will be for the time being. Your digital subscription will be synchronised and valid as your physical card.  </p>
    
<p>In the next phase, everyone will be able to try it.  </p>

<p>This is a work in progress - feel free to suggest features you would like to see. Or if you encounter any issues / bugs, please contact support@studyhub.bg or info@studyhub.bg</p>

</body></html>
