<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Studyhub doorguy </title>

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>

    

        <center>
        <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                    <center>
                        <h2 class="form-title"> Welcome to StudyHub Portal </h2>
                        <p> TODO: description of how to use</p>
                        <div class="form-group form-button"> 
                            <form action="/login" method="get">
                                <button formaction="/login" class="form-submit" type="submit">Login</button>
                                <button formaction="/register" class="form-submit" type="submit"> Register</button>
                            </form>
                        </div> 
                    </div>                   
                    </center>
                </div>
            </div>
        </section>
         </center>

        <!-- JS -->
        <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
        <!-- <script src="js/main.js"></script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
