<!DOCTYPE HTML>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
		<title>StudyHub Portal</title>
		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
		<link rel="stylesheet" href="https://studyhub.bg/lumiere/css/style5.css">
		
		</head>
	

	<body>

		<div style="height: 80px;"></div>
		<center>
					<img src="https://studyhub.bg/lumiere/img/logo.png" width="280" style="opacity: 0.6;" /> 
		</center>
		<div style="margin-left: auto; margin-right: auto; width: 600px; padding-top: 30px; margin-top: 40px; background: #16334a;">

			<!--
		<center>
		<img src="https://studyhub.bg/lumiere/img/lumiere-logo.png" width="200" />
		</center>
			-->
			<div style=" padding: 50px; padding-top: 20px; padding-bottom: 0;text-align: center;">
			

			<span style="vertical-align: middle; color: #fff; font-weight: 300; font-size: 18px; text-align: center;"> Customer login </span>
			</div>
			<div style="padding: 30px;padding-top: 5px; ">
			
				<form action="login_attempt" method="GET">
				<table style="width: 540px; font-family: 'Roboto', sans-serif; font-weight: 700; margin-top: 18px; text-align: left;">
			
					<tr>
						<td style="width: 48%; padding: 2px; text-align: center;">
						<span style="font-size: 15px; color: #7f9ecf;">username</span><br>
						<div style="height: 7px;"></div>
						<input type="text" class="form_table_input"  style="text-transform: none;"  name="username" />
							
						</td>	
						<td style="width: 4%;"></td>
						<td style="width: 48%; padding: 2px; text-align: center;">
						<span style="font-size: 15px; color: #7f9ecf;">pass</span><br>
						<div style="height: 7px;"></div>
						<input type="password" class="form_table_input"  style="text-transform: none;"  name="pass" />
							
						</td>					
					</tr>
					<tr>
						<td colspan="3" style="padding: 2px; padding-top: 30px;">
						
						<center><input type="submit"  class="form_table_submit" name="post" value="Login" /></center>
						</td>
					</tr>
				</table>
			</form> 
			</div>
			</div>

			
	</body>


</html>
		<!-- WHY WERE THERE TWO OF THESE -->

