<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register.css') }}">

	</head>

<div class="form cont">
  <h2>Time to feel like home,</h2>
  <label>
    <span> Email </span>
    <input type="email" />
  </label>
  <label>
    <span> Full Name </span>
    <input type="text" />
  </label>
  <label>
    <span> Password</span>
    <input type="password" />
  </label>

  <label>
    <span> Confirm email</span>
    <input type="email" />
  </label>

  <label>
    <span> Confirm Password</span>
    <input type="password" />
  </label>
</div>

<p class="forgot-pass"> <a href="password_recovery"> Forgot password? </a> </p>

<button type="button" class="submit">Sign In</button>
</html>
